@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --text-span-banner: #AFA798;
  --text-navbar: #938071;
  --logo: #1B1C22;
  --btn--banner: #F3EDE9
;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
  .container header {
    width: 100%;
  }
  .container header .container__header {
    width: 100%;
  }
  .container section.banner__furniture {
    padding: 0px 10px;
    width: 100%;
    min-height: 100%;
    background-position-x: 640px;
  }
  .container section.banner__furniture .container__banner__furniture {
    width: 100%;
  }
  .container section.gallery__furniture {
    padding: 100px 10px;
  }
  .container section.gallery__furniture .container__gallery__furniture {
    width: 100%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture {
    width: 55%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture .box__1 img {
    width: 100%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture .box__2 img {
    width: 100%;
    display: inline-block;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture {
    width: 60%;
    margin: 0px 10px;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture h1 {
    margin-top: 10px;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture span.text__gallery {
    margin: 20px 0px;
  }
  .container section.galerry__blog {
    padding: 50px 10px;
  }
  .container section.galerry__blog .container__galerry__blog {
    width: 100%;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog {
    margin-top: 5%;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog .box__gallery__blog {
    width: 100%;
    margin: 0px 10px;
    text-align: justify;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog .box__gallery__blog img {
    width: 100%;
    display: block;
  }
  .container section.hero__furniture {
    padding: 50px 10px;
  }
  .container section.hero__furniture .container__hero__furniture {
    width: 100%;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture {
    width: 100%;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture {
    width: 500px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo {
    margin-left: -10px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__phone__furniture {
    width: 400px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__phone__furniture img {
    margin: 0px 5px;
  }
  .container footer {
    padding: 50px 10px;
  }
  .container footer .container__footer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
  .container header {
    width: 100%;
  }
  .container header .container__header {
    width: 100%;
  }
  .container section.banner__furniture {
    padding: 0px 10px;
    width: 100%;
    min-height: 100%;
  }
  .container section.banner__furniture .container__banner__furniture {
    width: 100%;
  }
  .container section.banner__furniture .container__banner__furniture .row__banner__furniture .box__furniture {
    width: 100%;
  }
  .container section.gallery__furniture {
    padding: 100px 10px;
  }
  .container section.gallery__furniture .container__gallery__furniture {
    width: 100%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture {
    width: 100%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture .box__1 {
    margin: 0px 10px;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture .box__1 img {
    width: 100%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture .box__2 img {
    width: 100%;
    display: inline-block;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture {
    width: 90%;
    margin: 0px 10px;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture h1 {
    margin-top: 10px;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture span.text__gallery {
    margin: 20px 0px;
  }
  .container section.galerry__blog {
    padding: 50px 10px;
  }
  .container section.galerry__blog .container__galerry__blog {
    width: 100%;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog {
    margin-top: 5%;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog .box__gallery__blog {
    width: 100%;
    margin: 0px 10px;
    text-align: justify;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog .box__gallery__blog img {
    width: 100%;
    display: block;
  }
  .container section.hero__furniture {
    padding: 50px 10px;
  }
  .container section.hero__furniture .container__hero__furniture {
    width: 100%;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture {
    width: 100%;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture {
    width: 400px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo {
    margin-left: -10px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__phone__furniture {
    width: 400px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__phone__furniture img {
    margin: 0px 5px;
  }
  .container footer {
    padding: 50px 10px;
  }
  .container footer .container__footer {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
  .container header {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    padding: 4% 3%;
  }
  .container header .container__header {
    width: 100%;
  }
  .container header .container__header .logo {
    position: relative;
    z-index: 300;
  }
  .container header .container__header .hamburger {
    width: 30px;
    height: 20px;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container header .container__header .hamburger span.bar {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header .container__header .hamburger.hamburgerRotate span.bar:first-child {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header .container__header .hamburger.hamburgerRotate span.bar:nth-child(2) {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header .container__header .hamburger.hamburgerRotate span.bar:last-child {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header .container__header nav.navbar__furniture {
    width: 100%;
    position: fixed;
    top: 0;
    height: 50vh;
    right: -100%;
    background-color: #fff;
    z-index: 200;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header .container__header nav.navbar__furniture ul.list__furniture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20%;
  }
  .container header .container__header nav.navbar__furniture ul.list__furniture li.list__item__furniture {
    padding: 10px 0px;
    margin: 5px 0px;
  }
  .container header .container__header nav.navbar__furniture .btn__header__spense {
    margin-top: 5%;
  }
  .container header .container__header nav.navbar__furniture.navShow {
    right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .container header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    -webkit-transition: 0.5;
    transition: 0.5;
    background-color: #fff;
  }
  .container section.banner__furniture {
    width: 100%;
    padding: 0px 10px;
  }
  .container section.banner__furniture .container__banner__furniture {
    width: 100%;
  }
  .container section.banner__furniture .container__banner__furniture .row__banner__furniture {
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container section.banner__furniture .container__banner__furniture .row__banner__furniture .box__furniture {
    width: 100%;
    text-align: center;
  }
  .container section.banner__furniture .container__banner__furniture .row__banner__furniture .box__furniture h1 {
    font-size: 30px;
    margin-top: 50px;
  }
  .container section.banner__furniture .container__banner__furniture .row__banner__furniture .box__furniture button.btn__banner {
    width: 200px;
    margin: 10px auto;
  }
  .container section.banner__furniture .container__banner__furniture .row__banner__furniture .box__furniture__img {
    width: 100%;
  }
  .container section.gallery__furniture {
    padding: 100px 10px;
  }
  .container section.gallery__furniture .container__gallery__furniture {
    width: 100%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture {
    width: 100%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture .box__1 img {
    width: 90%;
    display: block;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__gallery__furniture .box__2 img {
    width: 90%;
    margin: 0px auto;
    display: block;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture {
    width: 100%;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture h1 {
    text-align: center;
  }
  .container section.gallery__furniture .container__gallery__furniture .row__gallery__furniture .box__text__gallery__furniture span.text__gallery {
    margin: 20px 0px;
  }
  .container section.galerry__blog {
    padding: 50px 10px;
  }
  .container section.galerry__blog .container__galerry__blog {
    width: 100%;
  }
  .container section.galerry__blog .container__galerry__blog h1 {
    font-size: 30px;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog .box__gallery__blog {
    width: 100%;
    margin-top: 5%;
  }
  .container section.galerry__blog .container__galerry__blog .row__gallery__blog .box__gallery__blog img {
    width: 100%;
  }
  .container section.hero__furniture {
    padding: 50px 0px;
    background-size: cover;
    background-position-x: 50px;
  }
  .container section.hero__furniture .container__hero__furniture {
    width: 100%;
    padding: 0px 10px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture {
    width: 100%;
    margin: 30px 0px;
    text-align: center;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo {
    width: 100%;
    margin: 30px auto;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo a img.first {
    width: 180px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo a img.second {
    width: 180px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__phone__furniture {
    width: 100%;
    color: #000;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__phone__furniture img {
    width: 60%;
  }
  .container footer {
    padding: 50px 10px;
  }
  .container footer .container__footer {
    width: 100%;
  }
  .container footer .container__footer .row__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container footer .container__footer .row__footer .box__footer {
    margin: 20px 0px;
    width: 100%;
    text-align: center;
  }
  .container footer .container__footer .row__footer .box__list {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
  }
  .container section.hero__furniture {
    padding: 50px 10px;
    background-position-x: -10px;
  }
  .container section.hero__furniture .container__hero__furniture {
    width: 100%;
    padding: 0px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture {
    width: 100%;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo {
    width: 100%;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo a {
    margin: 0px 5px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo a img.first {
    width: 150px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__hero__furniture .box__logo a img.second {
    width: 150px;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__phone__furniture {
    width: 100%;
  }
  .container section.hero__furniture .container__hero__furniture .row__hero__furniture .box__phone__furniture img {
    margin: 0px 10px;
    width: 50%;
  }
}
/*# sourceMappingURL=mobile.css.map */