@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
$fontFamilyOpenSans: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
$logoFamily : 'Rozha One', serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
   --text-span-banner : #AFA798;
   --text-navbar : #938071;
   --logo: #1B1C22;
    --btn--banner : #F3EDE9
}
.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    .btn{
         padding: 7px;
         position: fixed;
         bottom: 20px;
         right: -50px;
         z-index: 200;
         transition: 0.5s;
         border-radius: 5px;
        cursor: pointer;
         background-color: black;
         i{
             color: #fff;
         }
    }
    .btn.scrollBtn{
        right: 20px;
        transition: 0.5s;
    }
    header{
        width: 100%;
        position: absolute;
        top: 0;
        padding: 2% 3%;
        transition: 0.5s;
        z-index: 100;
        .container__header{
            max-width: 1200px;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                a{
                    text-decoration: none;
                    font-family: $logoFamily;
                    color: var(--logo);
                    font-size: 25px;
                }
            }
            nav.navbar__furniture{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 350px;
                ul.list__furniture{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li.list__item__furniture{
                        list-style-type: none;
                        padding: 0px 10px;
                        margin: 0px 5px;
                        a.list__link__furniture{
                            text-decoration: none;
                            color: var(--text-navbar);
                            font-family: $fontFamilyOpenSans;
                        }
                        a.list__link__furniture.active{
                            color: var(--logo);
                            transition: 0.5s;
                        }
                    }
                }
                .btn__header__spense{
                    button.btn__header{
                        display: inline-block;
                        padding: 10px 30px;
                        font-family: $fontFamilyOpenSans;
                        border: 1px solid #938071;
                        outline: none;
                        color: var(--text-navbar);
                        border-radius: 30px;
                        cursor: pointer;
                        background-color: unset;
                    }
                }
            }
        }
    }
    header.sticky{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 50;
        transition: 0.5s;
        background-color: #fff;
    }
    section.banner__furniture{
        width: 100%;
        min-height: 100vh;
        position: relative;
        background-image: url('../images/bg-banner.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 900px;
        .container__banner__furniture{
            max-width: 1200px;
            margin: 0px auto;
            .row__banner__furniture{
                display: flex;
                padding-top: 180px;
                justify-content: space-between;
                align-items: center;
                .box__furniture{
                    width: 450px;
                    font-family: $fontFamilyOpenSans;
                    h1{
                        font-size: 35px;
                    }
                    span{
                        color: var(--text-span-banner);
                    }
                    span.text__banner{
                        color: var(--logo);
                        margin: 15px 0px;
                        display: block;
                    }
                    button.btn__banner{
                        display: block;
                        padding: 15px 30px;
                        outline: none;
                        border: none;
                        margin: 10px 0px;
                        border-radius: 5px;
                        cursor: pointer;
                        color: var(--text-span-banner);
                        background-color: var(--btn--banner);
                    }
                }
                .box__furniture__img{
                    width: 550px;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
    section.gallery__furniture{
        padding: 100px 0px;
        position: relative;
        .container__gallery__furniture{
            max-width: 1200px;
            margin: 0px auto;
            .row__gallery__furniture{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .box__gallery__furniture{
                    width: 480px;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .box__1{
                        img{
                            display: block;
                            margin: 20px 0px;
                        }
                    }
                }
                .box__text__gallery__furniture{
                    width: 550px;
                    h1{
                        font-family: $fontFamilyOpenSans;
                        font-size: 30px;
                        span{
                            display: inline-block;
                            color: var(--text-span-banner);
                        }
                    }
                    span.text__gallery{
                        font-family: $fontFamilyOpenSans;
                        color: var(--logo);
                        margin: 5px 0px;
                        display: block;
                        font-size: 16px;
                    }
                    ul{
                        list-style-position: inside;
                        position: relative;
                        margin-left: 20px;
                        font-family: $fontFamilyOpenSans;
                        li{
                            list-style-type: none;
                        }
                        li::before{
                            content: ' ';
                            width: 10px;
                            position: absolute;
                            left: -20px;
                            margin-top: 7px;
                            display: block;
                            height: 10px;
                            border-radius: 50%;
                            background-color :var(--text-span-banner)
                        }
                    }
                }
            }
        }
    }
    section.galerry__blog{
        padding: 100px 0px;
        position: relative;
        .container__galerry__blog{
            max-width: 1200px;
            margin: 0px auto;
            h1{
                font-family: $fontFamilyOpenSans;
                font-size: 35px;
                text-align: center;
                span{
                    color: var(--text-span-banner);
                }
            }
            .row__gallery__blog{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .box__gallery__blog{
                    width: 500px;
                    margin-top: 5%;
                    font-family: $fontFamilyOpenSans;
                    height: auto;
                    h1{
                        font-size: 25px;
                        text-align: left;
                    }
                    span{
                        font-size: 13px;
                        display: inline-block;
                        margin: 10px 0px;  
                    }
                    p{
                        margin: 10px 0px;
                        font-size: 15px;
                        line-height: 1.5;
                    }
                    button.btn__gallery__blog{
                        display: block;
                        padding: 15px 30px;
                        border: none;
                        outline: none;
                        margin: 15px 0px;
                        font-variant: var(--btn--banner);
                        color: var(--text-span-banner);
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    section.hero__furniture{
        padding: 100px 0px;
        position: relative;
        background-color: #F3EDE9;
        background-image: url('../images/bg-hero-2.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        .container__hero__furniture{
            max-width: 1200px;
            margin: 0px auto;
            .row__hero__furniture{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .box__hero__furniture{
                    width: 500px;
                    height: auto;
                    font-family: $fontFamilyOpenSans;
                    h1{
                        font-size: 30px;
                        span{
                            color: var(--text-span-banner);
                        }
                    }
                    p{
                        margin: 10px 0px;
                        line-height: 1.5;
                    }
                    .box__logo{
                        width: auto;
                        height: auto;
                        margin-top: 7%;
                        margin-left: -20px;
                        a{
                            img.first{
                                display: inline-block;
                                height: 90px;
                            }
                            img.second{
                                display: inline-block;
                                height: 75px;
                                vertical-align: top;
                                margin-top: 7px;
                            }
                        }
                    }
                }
                .box__phone__furniture{
                    width: 450px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: $fontFamilyOpenSans;
                    color: #fff;
                    img{
                        width: 60%;
                        display: inline-block;
                    }
                }
            }
        }
    }
    footer{
        padding: 50px 0px;
        position: relative;
        .container__footer{
            max-width: 1200px;
            margin: 0px auto;
            .row__footer{
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                .box__footer{
                    width: 300px;
                    font-family: $fontFamilyOpenSans;
                    .logo{
                        a{
                            text-decoration: none;
                            color: #1B1C22;
                            font-family: $logoFamily;
                            font-size: 25px;
                        }
                    }
                    span.foot__text{
                        font-size: 15px;
                        display: block;
                        margin: 5px 0px;
                    }
                    span{
                        font-size: 15px;
                    }
                }
                .box__list{
                    a.logo__footer{
                        i{
                            display: inline-block;
                            margin: 10px 5px;
                            color: var(--logo);
                        }
                    }
                    font-family: $fontFamilyOpenSans;
                    ul{
                        list-style-type: none;
                        li{
                            margin: 10px 0px;
                            a{
                                text-decoration: none;
                                color: var(--logo);
                            }
                        }
                    }
                }
            }
        }
    }
}